@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&display=swap');

html{
    box-sizing: border-box;
  }
*, 
*:before, 
*:after{
    box-sizing: inherit;
  }
body{
    color: rgb(255, 255, 255);
    background-color: rgb(29, 29, 29);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
header{
    border-bottom: 1px solid rgb(220, 220, 220);
    display: flex;
}
h1{
    font-family: "Farro", Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0;
    padding: 10px;
}
.links{
    padding-top: 22px;
    padding-left:30%;
    float: right;
}
.link{
    padding: 0 5px;
    margin: 0;
    font-size: small;
}
.link_secondary{
    border-left: 1px solid white;
}
h2{
    padding: 10px;
    padding-bottom: 0;
    text-align: center;
}
.main_content{
    display: flex;
    padding: 25px;
    max-height: 600px;
    padding-bottom: ;
}
iframe{
    border: 1px solid rgb(220, 220, 220);
    padding: 1px;
    width: 100%; 
    height: 100%;
}
.hackbox_info{
    margin: 20px;
    padding: 20px;
    padding-bottom: 30px;
    width: 40%;
    background-color: rgb(59, 59, 59);
    font-family: "Roboto", Arial, Helvetica, sans-serif
}
.hackbox_info p{
    line-height: 20px;
}
footer{
    margin-top: 25px;
    border-top: 1px solid rgb(220, 220, 220);
    background-color: rgb(59, 59, 59);
    margin: 0;
    padding: 5px;
    text-align: center;
    font-size: small;
    position: fixed;
    bottom: 0;
    width: 100%;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
   text-decoration: underline;
}
a:visited{
    color: rgb(197, 228, 240);
}
.contact{
    color: black;
    background: rgb(150, 150, 150);
    padding: 10px;
    border-radius: 5px;
}
.contact_p{
    padding-bottom: 20px;
}
#button{
    color: black;
}
.text-muted{
    font-size: small;
}